{
  "openapi": "3.0.3",
  "info": {
    "title": "Sendcloud Public REST API",
    "version": "3.0.0",
    "description": "Complete Sendcloud API v3 specification - merged from official sendcloud.dev documentation",
    "contact": {
      "name": "Sendcloud API Support",
      "url": "https://sendcloud.dev",
      "email": "contact@sendcloud.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-source": "https://sendcloud.dev/.openapi/v3/",
    "x-branch": "v3",
    "x-generated": "2026-01-28T14:24:12Z"
  },
  "servers": [
    {
      "url": "https://account.sendcloud.com",
      "description": "Production"
    },
    {
      "url": "https://panel.sendcloud.sc/api/v3",
      "description": "Sendcloud Production"
    }
  ],
  "security": [
    {
      "HTTPBasicAuth": []
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "x-skip-lint": true,
        "x-skip-lint-reason": "This endpoint's design is provided by a third-party service (Hydra) and doesn't follow our API standards.",
        "x-mint": {
          "href": "/api/v3/oauth2/token",
          "content": "<Note>\n  OAuth 2.0 authentication is currently available as a beta feature for a limited number of clients. Following this beta phase, we are planning a gradual rollout of the OAuth2 authentication feature to all users. Our aim is to ensure a smooth transition and to continue providing an optimal user experience throughout the process.\n</Note>\n\nYou can find a list of open-source libraries to help with OAuth 2.0 authentication at https://oauth.net/code/",
          "metadata": {
            "tag": "Beta"
          }
        },
        "description": "Use this endpoint to get a new OAuth 2.0 access token.",
        "operationId": "OAuth2TokenExchange",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "client_id": {
                    "type": "string",
                    "x-formData-name": "client_id"
                  },
                  "code": {
                    "type": "string",
                    "x-formData-name": "code"
                  },
                  "grant_type": {
                    "required": [
                      "grant_type"
                    ],
                    "type": "string",
                    "x-formData-name": "grant_type"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "x-formData-name": "redirect_uri"
                  },
                  "refresh_token": {
                    "type": "string",
                    "x-formData-name": "refresh_token"
                  }
                },
                "required": [
                  "grant_type"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2TokenExchange"
                }
              }
            },
            "description": "OAuth2TokenExchange"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorOAuth2"
                }
              }
            },
            "description": "ErrorOAuth2"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth2": []
          }
        ],
        "summary": "OAuth 2.0 token",
        "tags": [
          "oAuth2"
        ]
      }
    },
    "/compat/shipping-options": {
      "post": {
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "summary": "Retrieve a list of shipping options",
        "tags": [
          "Compat Shipping Options"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipping_method_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "List of shipping methods to translate to shipping options.",
                    "example": [
                      1,
                      2,
                      3
                    ],
                    "maxItems": 100
                  }
                },
                "required": [
                  "shipping_method_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of shipping options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompatShippingOptionsResponse"
                },
                "examples": {
                  "PostCompatShippingOptions": {
                    "summary": "Translate shipping methods to shipping options",
                    "value": {
                      "data": {
                        "1": "shipping_option:1",
                        "2": "shipping_option:2",
                        "3": "null"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-scp-post-compat_shipping_options",
        "description": "Retrieve a list of shipping options based on the provided shipping method ids.",
        "x-mint": {
          "href": "/api/v3/compat/retrieve-a-list-of-shipping-options",
          "content": "This endpoint is intended to smooth the transition from shipping methods to shipping options. It accepts a list of shipping method IDs and returns their corresponding shipping option identifiers.\n\nOrdering of the shipping options is not guaranteed, and the response may contain null values for shipping methods that do not have a corresponding shipping option. Shipping methods that do not exist will not be returned in the response.\n\n<Warning>\n  This API is deprecated and intended for compatibility purposes only. It may be removed in the future, so it is recommended to transition to use the [Shipping options API](/api/v3/shipping-options) as soon as possible.\n</Warning>"
        }
      }
    },
    "/contracts": {
      "get": {
        "summary": "Retrieve a list of contracts",
        "tags": [
          "Contracts"
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "data",
        "x-mint": {
          "href": "/api/v3/contracts/retrieve-a-list-of-contracts"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Retrieve contracts",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/contract"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "RetrieveContracts": {
                    "summary": "Retrieve a list of contracts",
                    "value": {
                      "data": [
                        {
                          "id": 60,
                          "carrier": {
                            "code": "lettresuivie",
                            "name": "Lettre Suivie"
                          },
                          "client_id": "sendcloud-1",
                          "country": "FR",
                          "is_default_per_carrier": true,
                          "state": "active",
                          "type": "direct"
                        },
                        {
                          "id": 61,
                          "carrier": {
                            "code": "poste_italiane",
                            "name": "Poste Italiane"
                          },
                          "client_id": "sendcloud-1",
                          "country": "IT",
                          "is_default_per_carrier": true,
                          "state": "active",
                          "type": "direct"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Link": {
                "description": "The pagination links, according to the web linking specification (RFC8288).",
                "schema": {
                  "type": "string",
                  "example": "<https://panel.sendcloud.sc/api/v3/contracts/?cursor=cj0xJnA9MjUzNTQyMzM3>; rel=\"prev\", <https://panel.sendcloud.sc/api/v3/contracts/?cursor=cD0yNTM1NDIyODI%3D>; rel=\"next\""
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "BadRequest": {
                    "summary": "Bad Request",
                    "value": {
                      "errors": [
                        {
                          "detail": "Value error, Carrier x does not exist.",
                          "status": "400",
                          "code": "validation_error",
                          "source": {
                            "parameter": "query carrier"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Throttled"
          }
        },
        "operationId": "sc-public-v3-scp-get-all_contracts",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "description": "Retrieve the list of contracts you have in your Sendcloud account. It will also return the `id` of each contract, which you can use to retrieve information about a specific contract.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "carrier_code",
            "description": "The carrier you want to filter for, for instance: postnl. You can find available carriers in your Sendcloud account settings.",
            "required": false
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "is_active",
            "description": "Filter contracts based on the status."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_id",
            "description": "Filter direct contracts based on the client id."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter direct contracts based on the contract's name. Will search for a case-sensitive exact match."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "country_code",
            "description": "Filter contracts based on the country of the contract, it should be in the ISO 3166-1 alpha-2 format.",
            "example": "NL"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page_size",
            "description": "The size of the page to fetch",
            "example": 100
          }
        ]
      },
      "post": {
        "summary": "Create a contract for a carrier",
        "description": "Create a contract for a supported carrier.",
        "tags": [
          "Contracts"
        ],
        "operationId": "sc-public-v3-scp-post-create_contract",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "x-mint": {
          "href": "/api/v3/contracts/create-a-contract-for-a-carrier",
          "content": "This endpoint **creates** a contract for a carrier.\n\n<Warning>\n  Creating a carrier contract via the API is **not supported for 2FA carriers**, including UPS, Hermes, Amazon, Bol, and FedEx. To create a carrier contract for these carriers, please use the Sendcloud platform.\n</Warning>\n\nAfter creating a contract, its initial state will be `\"validating\"`. This means the system is verifying the contract data with carriers, which typically takes only a few seconds, depending on the carriers.\n\nOnce validation is complete, the contract's state will change to one of the following:\n\n- `\"active\"` or `\"inactive\"`: The contract has been successfully processed.\n- `\"validation_failed\"`: An error occurred during validation. Additional information about the failure will be provided.\n\nYou can check the current state of the contract using the [Retrieve a contract](/api/v3/contracts/retrieve-a-contract) endpoint."
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Create a contract",
                  "type": "object",
                  "title": "Contract created response",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                },
                "examples": {
                  "CreateContract": {
                    "summary": "Contract created",
                    "value": {
                      "data": {
                        "id": 60,
                        "carrier": {
                          "code": "lettresuivie",
                          "name": "Lettre Suivie"
                        },
                        "client_id": "sendcloud-1",
                        "is_active": false,
                        "country": "FR",
                        "is_default": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "Failed": {
                    "summary": "Failed to create contract",
                    "value": {
                      "errors": [
                        {
                          "detail": "This field is required.",
                          "status": "400",
                          "source": {
                            "pointer": "/data/client_id"
                          },
                          "code": "required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-contract-request"
              }
            }
          }
        }
      }
    },
    "/contracts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "in": "path",
          "name": "id",
          "description": "The id of the contract.",
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve a contract",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Retrieve contract",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                },
                "examples": {
                  "RetrieveContract": {
                    "summary": "Retrieve a contract",
                    "value": {
                      "data": {
                        "id": 60,
                        "carrier": {
                          "code": "lettresuivie",
                          "name": "Lettre Suivie"
                        },
                        "client_id": "sendcloud-1",
                        "is_default_per_carrier": true,
                        "state": "active",
                        "type": "direct"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contract not found"
          }
        },
        "operationId": "sc-public-v3-scp-get-specific_contract",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "x-mint": {
          "href": "/api/v3/contracts/retrieve-a-contract"
        },
        "description": "Retrieve information about a specific contract by including the `id` of the contract as a path parameter."
      },
      "patch": {
        "summary": "Update a contract",
        "operationId": "sc-public-v3-scp-patch-contract",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "x-mint": {
          "href": "/api/v3/contracts/update-a-contract",
          "content": "This endpoint will either **update** or **replace** a contract. Changes to unused contracts or the contract's state\nand description will be done in place and not cause a new contract to be created (`name`, `is_active`, `is_default`, `is_per_carrier_default`).\n\n**However, used contracts are immutable, if you change the contract_data of a contract that has already been used for shipments,\nit will cause a new contract ID to be created. In this case, the old one will no longer be active for use.**\n\nAfter updating a contract with `contract_data`, we need to validate it again and its state will be `\"validating\"`.\nDuring the validation the contract is not active and cannot be used for creating shipments. The validation\nprocess is asynchronous and will happen in the background.\n\nOnce validation is complete, the contract's state will change to one of the following:\n- `\"active\"` or `\"inactive\"`: The contract has been successfully processed.\n- `\"validation_failed\"`: An error occurred during validation. Additional information about the failure will be provided."
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Update contract",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                },
                "examples": {
                  "UpdatedContract": {
                    "summary": "Updated contract",
                    "value": {
                      "data": {
                        "id": 60,
                        "carrier": {
                          "code": "lettresuivie",
                          "name": "Lettre Suivie"
                        },
                        "client_id": "sendcloud-1",
                        "is_default_per_carrier": true,
                        "state": "active",
                        "type": "direct"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "Failed": {
                    "summary": "Failed to update contract",
                    "value": {
                      "errors": [
                        {
                          "detail": "This field is required.",
                          "status": "400",
                          "source": {
                            "pointer": "/data/client_id"
                          },
                          "code": "required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "description": "Update or replace a contract by including the `id` of the contract as a path parameter.",
        "tags": [
          "Contracts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update-contract-request"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contract",
        "description": "Delete a specific contract by including the `id` of the contract as a path parameter.",
        "operationId": "sc-public-v3-scp-delete-contract",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "x-mint": {
          "href": "/api/v3/contracts/delete-a-contract",
          "content": "Include the `id` of the contract as a path parameter to delete information for that specific contract.\n\nIf you have multiple active contracts for the same carrier and you delete the default contract, we will automatically pick the first added contract as the new default.\n\nIf you delete the last contract for a specific carrier, we will disable this carrier and its shipping options to prevent that you will accidentally use Sendcloud's transactional rates."
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                }
              }
            }
          }
        },
        "tags": [
          "Contracts"
        ]
      }
    },
    "/contracts/schemas": {
      "get": {
        "summary": "Retrieve a list of contract schemas",
        "tags": [
          "Contracts"
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "data",
        "x-mint": {
          "href": "/api/v3/contracts/retrieve-a-list-of-contract-schemas"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Retrieve contract schemas.",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/contract-schema"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "GetUPSContractsSchema": {
                    "summary": "Retrieve UPS contract schema. Beware, it's not a full example.",
                    "value": {
                      "data": [
                        {
                          "carrier_code": "ups",
                          "fields": [
                            {
                              "name": "account_number",
                              "description": "Your UPS Account Manager can provide you with the Account Number.",
                              "required": true,
                              "type": "string"
                            },
                            {
                              "name": "country",
                              "description": "Select a contract country.",
                              "required": false,
                              "type": "choice",
                              "choices": [
                                {
                                  "code": "NL",
                                  "description": "Netherlands"
                                },
                                {
                                  "code": "BE",
                                  "description": "Belgium"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "GetDhlDeContractsSchema": {
                    "summary": "Retrieve DHL DE contract schema. Beware, it's not a full example.",
                    "value": {
                      "data": [
                        {
                          "carrier_code": "dhl_de",
                          "fields": [
                            {
                              "name": "name",
                              "description": "A custom name used to identify this contract throughout the platform.",
                              "required": true,
                              "type": "string"
                            },
                            {
                              "name": "returns",
                              "description": "The Receiver ID serves to identify the correct return address.",
                              "required": false,
                              "type": "object",
                              "object": {
                                "key": {
                                  "name": "country",
                                  "description": "Select a contract country.",
                                  "required": false,
                                  "type": "choice",
                                  "choices": [
                                    {
                                      "code": "NL",
                                      "description": "Netherlands"
                                    },
                                    {
                                      "code": "BE",
                                      "description": "Belgium"
                                    }
                                  ]
                                },
                                "value": {
                                  "name": "Receiver ID",
                                  "description": "",
                                  "required": false,
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "BadRequest": {
                    "summary": "Bad Request",
                    "value": {
                      "errors": [
                        {
                          "detail": "Value error, Carrier x does not exist.",
                          "status": "400",
                          "code": "validation_error",
                          "source": {
                            "parameter": "query carrier"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Throttled"
          }
        },
        "operationId": "sc-public-v3-scp-get-all_contracts_schemas",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "description": "Retrieve information about contract schemas (by carrier) to help with creating/updating contracts.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "carrier_code",
            "description": "The carrier you want to filter for, for instance: postnl. You can find available carriers in your Sendcloud account settings.",
            "example": "postnl",
            "required": false
          }
        ]
      }
    },
    "/checkout/configurations/{configuration_id}/delivery-options": {
      "get": {
        "summary": "Retrieve a list of delivery options",
        "operationId": "sc-public-v3-checkout_api-get-delivery_options",
        "x-mint": {
          "href": "/api/v3/dynamic-checkout/retrieve-a-list-of-delivery-options",
          "content": "<Note>\n  To use this API, you first need to [create your own Dynamic Checkout configuration](https://support.sendcloud.com/hc/en-us/articles/360057944932-How-to-configure-Dynamic-Checkout) in the Sendcloud platform.\n</Note>\n\nFollow these steps to get started:\n\n1. Log in to your Sendcloud account and navigate to the **Dynamic Checkout** tab.\n2. Select your API integration from the **Shops** section to customize your delivery options.\n3. When you're done, click **Publish** to connect your configuration to the selected API integration.\n\nThis API allows your customers to choose their preferred delivery options during checkout.\n\nThe options returned by this endpoint are based on the [delivery methods](https://support.sendcloud.com/hc/en-us/articles/360057944932-How-to-configure-Dynamic-Checkout#4) previously configured in addition to cart or order information, such as parcel weight, total order value, destination country, and more.\n\nYou can display the returned delivery options to your customers on your checkout page, where they can select their preferred option for their order.\n\n## How do delivery options correspond to configured delivery methods?\n\nThis API returns one delivery option per carrier configured in Dynamic Checkout.\nIf a delivery method is configured with multiple carriers, then multiple delivery options will be returned - one per carrier.\nIn cases when delivery options correspond to the same delivery method,\ndelivery options' ids will refer to the same delivery method id,\nleaving API users with a flexibility to perform grouping based on a delivery method id, if desired.\n\n## How can I create a shipment out of the selected delivery option?\n\nUse the `checkout_identifier_type=shipping_option_code` parameter when requesting delivery options.\nThis makes the `checkout_identifier` field of the selected delivery option contain the shipping option code required for creating a shipment.\n\nTo proceed, call the [Create and announce a shipment asynchronously](/api/v3/shipments/create-and-announce-a-shipment-asynchronously) endpoint,\nsetting `ship_with.type` to `\"shipping_option_code\"` and `ship_with.properties.shipping_option_code` to the value of the `checkout_identifier` field."
        },
        "description": "The options returned by this endpoint are based on the [delivery methods](https://support.sendcloud.com/hc/en-us/articles/360057944932-How-to-configure-Dynamic-Checkout#4) previously configured in addition to cart or order information, such as parcel weight, total order value, destination country, and more.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConfigurationID"
          },
          {
            "$ref": "#/components/parameters/WeightValue"
          },
          {
            "$ref": "#/components/parameters/TotalOrderValue"
          },
          {
            "$ref": "#/components/parameters/FromCountry"
          },
          {
            "$ref": "#/components/parameters/ToCountry"
          },
          {
            "$ref": "#/components/parameters/CheckoutIdentifierType"
          },
          {
            "$ref": "#/components/parameters/ToPostalCode"
          },
          {
            "$ref": "#/components/parameters/ParcelLength"
          },
          {
            "$ref": "#/components/parameters/ParcelWidth"
          },
          {
            "$ref": "#/components/parameters/ParcelHeight"
          },
          {
            "$ref": "#/components/parameters/CheckoutMetadata"
          }
        ],
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delivery-options-response"
                },
                "examples": {
                  "StandardDeliveryOption": {
                    "$ref": "#/components/examples/StandardDeliveryOption"
                  },
                  "ServicePointDeliveryOptions": {
                    "$ref": "#/components/examples/ServicePointDeliveryOptions"
                  },
                  "NominatedDayDeliveryOption": {
                    "$ref": "#/components/examples/NominatedDayDeliveryOption"
                  },
                  "SameDayDeliveryOption": {
                    "$ref": "#/components/examples/SameDayDeliveryOption"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/Error404NotFound"
          }
        },
        "tags": [
          "Delivery Options"
        ]
      }
    },
    "/integrations/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "minimum": 1
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Filtering on the Sendcloud integration ID"
        }
      ],
      "delete": {
        "summary": "Delete an integration",
        "description": "Safely delete one of your integrations from the Sendcloud system",
        "x-mint": {
          "href": "/api/v3/integrations/delete-an-integration"
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "OrderDoesNotExist": {
                    "summary": "Integration does not exist",
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "code": "not_found",
                          "title": "Not found",
                          "detail": "The Integration could not be found with the search criteria given"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-delete-delete_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      },
      "patch": {
        "summary": "Update certain parts of an integration",
        "description": "Update the shop name, shop URL, service point settings, webhook settings, and feedback type of an integration.",
        "x-mint": {
          "href": "/api/v3/integrations/update-certain-parts-of-an-integration",
          "content": "You can update certain parts of an integration with this endpoint:\n\n- Update the shop name of an integration\n- Update the shop URL of an integration\n- Enable service points and select the appropriate service point carriers\n- Enable webhooks and set the webhook URL\n- Change the type of feedback you would like the integration to follow"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/integration-model"
              },
              "examples": {
                "UpdatingShopName": {
                  "summary": "Update the shop name on your integration",
                  "description": "Update the shop name on your integration.",
                  "value": {
                    "shop_name": "My Webshop"
                  }
                },
                "EnableServicePointsIntegration": {
                  "summary": "Update an integration to enable service points.",
                  "description": "Update an integration to enable service points.",
                  "value": {
                    "service_point_enabled": true,
                    "service_point_carriers": [
                      "ups",
                      "dhl"
                    ]
                  }
                },
                "EnableWebhooksForAnIntegration": {
                  "summary": "Update an integration to enable webhook feedback.",
                  "description": "Update an integration to enable Sendcloud to call your webhook to provide parcel status feedback.\n",
                  "value": {
                    "webhook_active": true,
                    "webhook_url": "https://mywebshop.com/feedback"
                  }
                },
                "UpdateFeedbackType": {
                  "summary": "Update type of feedback an integration will use.",
                  "description": "Update type of feedback an integration will use.\n",
                  "value": {
                    "feedback_type": "none"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Webhook URL required when enable webhook is set to `true`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "WebhookDoesNotExist": {
                    "summary": "Webhook url missing",
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "invalid",
                          "title": "Invalid",
                          "detail": "Webhook URL required when enable webhook is set to true"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "IntegrationDoesNotExist": {
                    "summary": "Integration does not exist",
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "code": "not_found",
                          "title": "Not found",
                          "detail": "The Integration could not be found with the search criteria given"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-patch-update_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      },
      "get": {
        "summary": "Retrieve an integration",
        "description": "Get a valid integration from the Sendcloud system",
        "x-mint": {
          "href": "/api/v3/integrations/retrieve-an-integration"
        },
        "responses": {
          "200": {
            "description": "Retrieved integration corresponding to the provided integration_id",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Integration Get Response",
                  "type": "object",
                  "description": "Integration object as represented in the response of the get request.",
                  "properties": {
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/integration-response-model"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "data": {
                        "id": 23452345,
                        "shop_name": "Integration #1",
                        "shop_url": "https://www.my-shop-integration.com/",
                        "type": "api",
                        "started_failing_at": "2023-11-10T16:16:42Z",
                        "last_fetched_at": "2023-11-10T16:15:09Z",
                        "created_at": "2023-11-04T14:15:22Z",
                        "updated_at": "2023-11-08T12:23:56Z",
                        "service_point_enabled": true,
                        "service_point_carriers": [
                          "ups",
                          "dhl"
                        ],
                        "webhook_active": true,
                        "webhook_url": "https://my-shop-integration.integrator/api/webhooks/sendcloud",
                        "feedback_type": "eager"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "OrderDoesNotExist": {
                    "summary": "Integration does not exist",
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "code": "not_found",
                          "title": "Not found",
                          "detail": "The Integration could not be found with the search criteria given"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-get-retrieve_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      }
    },
    "/integrations": {
      "get": {
        "summary": "Retrieve a list of integrations",
        "description": "Retrieve all valid integrations from the Sendcloud system for a given user.",
        "x-mint": {
          "href": "/api/v3/integrations/retrieve-a-list-of-integrations"
        },
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            },
            "description": "Set the order for the response items:\n- Sorting is supported by the `integration_type`, `created_at`, `updated_at`, `last_fetch`, and `failing_since` attributes in the response object.\n- To sort the response in descending order, add the prefix `-` to the query param value.\n- By default, the items will be ordered by `last_fetch` and then `created_at`.\n",
            "example": "updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "All valid integrations from the Sendcloud System for a given user.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Integration List Response",
                  "type": "object",
                  "description": "Integration object as represented in the response of the list request.",
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/components/schemas/integration-response-model"
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "data": [
                        {
                          "id": 23452345,
                          "shop_name": "Integration #1",
                          "shop_url": "https://www.my-shop-integration.com/",
                          "type": "api",
                          "started_failing_at": "2023-11-10T16:16:42Z",
                          "last_fetched_at": "2023-11-10T16:15:09Z",
                          "created_at": "2023-11-04T14:15:22Z",
                          "updated_at": "2023-11-08T12:23:56Z",
                          "service_point_enabled": true,
                          "service_point_carriers": [
                            "ups",
                            "dhl"
                          ],
                          "webhook_active": true,
                          "webhook_url": "https://my-shop-integration.integrator/api/webhooks/sendcloud",
                          "feedback_type": "eager"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-get-list_integrations",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      }
    },
    "/shop-order-statuses": {
      "get": {
        "summary": "Retrieve shop order statuses for an integration",
        "description": "Fetch all available shop order statuses for the Prestashop v2 integration, in the default or selected language.",
        "x-mint": {
          "href": "/api/v3/integrations/retrieve-shop-order-statuses-for-an-integration",
          "content": "<Warning>\n  Only the Prestashop V2 integration is supported.\n</Warning>\n\nNote that:\n\n- If the user hasn't picked a language, they will receive the status in the default language, `en-gb`.\n- If `en-gb` is not present, the user receives the status in the first language of the alphabetically ordered list."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/required_integration_id"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/show_deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "All available shop order statuses for a given integration, in default or selected language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get-shop-order-statuses"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "data": [
                        {
                          "external_id": "17-B",
                          "status": "Delivered",
                          "deleted_at": null,
                          "translations": [
                            {
                              "status": "Delivered",
                              "language": "en-gb"
                            },
                            {
                              "status": "Verzonden",
                              "language": "nl-nl"
                            },
                            {
                              "status": "Geliefert",
                              "language": "de-de"
                            }
                          ]
                        },
                        {
                          "external_id": "14-A",
                          "status": "Cancelled",
                          "deleted_at": "2023-11-04T14:15:22Z",
                          "translations": [
                            {
                              "status": "Cancelled",
                              "language": "en-gb"
                            },
                            {
                              "status": "Geannuleerd",
                              "language": "nl-nl"
                            },
                            {
                              "status": "Abgesagt",
                              "language": "de-de"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "non_field_errors",
                          "title": "integration ID",
                          "detail": "Integration ID is a required GET parameter"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-get-shop_order_statuses",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      },
      "post": {
        "summary": "Create or overwrite shop order statuses",
        "description": "Insert shop-specific custom statuses into the Sendcloud system.",
        "x-mint": {
          "href": "/api/v3/integrations/create-or-overwrite-shop-order-statuses",
          "content": "<Warning>\n  Only the Prestashop V2 integration is supported.\n</Warning>\n\nNote that:\n\n- Integrations can have their own custom shop statuses.\n- To get your order updates in time, Sendcloud needs to know what statuses are available.\n- This endpoint updates all existing statuses. That includes creating new statuses, changing existing ones, and deleting ones that no longer exist."
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-shop-order-statuses"
              },
              "examples": {
                "PostOrderShopStatuses": {
                  "summary": "Upserting available shop order statuses",
                  "description": "Setting all available shop order statuses with their available translations.",
                  "value": {
                    "integration_id": 23452345,
                    "statuses": [
                      {
                        "external_id": "Send-4",
                        "translations": [
                          {
                            "status": "Sent",
                            "language": "en-gb"
                          },
                          {
                            "status": "Verzonden",
                            "language": "nl-nl"
                          }
                        ]
                      },
                      {
                        "external_id": "15",
                        "translations": [
                          {
                            "status": "Delivered",
                            "language": "en-gb"
                          },
                          {
                            "status": "Bezorgt",
                            "language": "nl-nl"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                },
                "examples": {
                  "Response": {
                    "value": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "WrongPayloadFormatRequested": {
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "non_field_errors",
                          "title": "Wrong format",
                          "detail": "Wrong request format, expected object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-post-shop_order_statuses",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      }
    },
    "/shop-order-statuses/mapping": {
      "get": {
        "summary": "Retrieve custom status mapping for an integration",
        "description": "Fetch a map of available shop order statuses and Sendcloud's internal status category for the integration.\n",
        "x-mint": {
          "href": "/api/v3/integrations/retrieve-custom-status-mapping-for-an-integration",
          "content": "<Warning>\n  Only the Prestashop V2 integration is supported.\n</Warning>"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/required_integration_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom status mapping for an integration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/get-custom-status-mapping"
                },
                "examples": {
                  "Response": {
                    "value": {
                      "data": {
                        "integration_id": 23452345,
                        "mapping": [
                          {
                            "status_category": "READY_TO_SEND",
                            "external_id": "11",
                            "is_valid": true
                          },
                          {
                            "status_category": "IN_TRANSIT",
                            "external_id": "11",
                            "is_valid": true
                          },
                          {
                            "status_category": "DELIVERED",
                            "external_id": null,
                            "is_valid": true
                          },
                          {
                            "status_category": "CANCEL",
                            "external_id": "1",
                            "is_valid": false
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "non_field_errors",
                          "title": "integration ID",
                          "detail": "Integration ID is a required GET parameter"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-get-shop_order_statuses_mapping",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      },
      "post": {
        "summary": "Create or update custom status mapping for an integration",
        "description": "Upsert a map of available shop order statuses and Sendcloud's internal status category for an integration",
        "x-mint": {
          "href": "/api/v3/integrations/create-or-update-custom-status-mapping-for-an-integration",
          "content": "<Warning>\n  Only the Prestashop V2 integration is supported.\n</Warning>"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-custom-status-mapping"
              },
              "examples": {
                "PostOrderStatusesMapping": {
                  "summary": "Insert or update custom status mapping of `external_ids` to Sendcloud's internal status category.",
                  "value": {
                    "integration_id": 23452345,
                    "mapping": [
                      {
                        "status_category": "READY_TO_SEND",
                        "external_id": "11"
                      },
                      {
                        "status_category": "IN_TRANSIT",
                        "external_id": "11"
                      },
                      {
                        "status_category": "DELIVERED",
                        "external_id": "12"
                      },
                      {
                        "status_category": "CANCEL",
                        "external_id": null
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                },
                "examples": {
                  "Response": {
                    "value": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "WrongPayloadFormatRequested": {
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "non_field_errors",
                          "title": "Wrong format",
                          "detail": "Wrong request format, expected object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v3-integrations-post-shop_order_statuses_mapping",
        "security": [
          {
            "HTTPBasicAuth": []
          }
        ],
        "tags": [
          "Integrations"
        ]
      }
    },
    "/orders": {
      "post": {
        "summary": "Create/Update orders in batch",
        "description": "Use this endpoint to insert orders into a Sendcloud API integration.",
        "x-mint": {
          "href": "/api/v3/orders/create-update-orders-in-batch",
          "content": "Each order can have a different integration id, so you can create/update orders for multiple integrations in one request.\n\n## Upsert behavior\n\nThis is an **upsert** endpoint, which means:\n\n  - If an order with the same `order_id` and `integration.id` combination **already exists**, it will be **updated**\n  - If no matching order exists, a **new order will be created**\n  - **Optional**: You can include the Sendcloud `id` field to explicitly update a specific order\n    - **Important**: When returned in responses, `id` is an **integer**, but when sending it in requests, it must be a **string**\n    - Example: Response returns `\"id\": 669`, but request must send `\"id\": \"669\"`\n\n## Batch processing\n\n- Process multiple orders in a single request (up to **100 orders maximum**)\n- Orders from different integrations can be included in the same batch\n- **All-or-nothing transaction**: If any order in the batch fails validation, the entire batch is rejected and zero orders are created or updated\n\n## Limitations and constraints\n\n- **Maximum batch size**: 100 orders per request\n- **Upsert matching**: Orders are matched by the combination of `order_id` + `integration.id`\n- **Immutable fields**: When updating existing orders, certain fields like `order_id` cannot be changed\n- **Concurrent processing**: If the same `order_id` is being processed by another request, you'll receive a conflict error. Wait a moment and retry\n- **Integration access**: You can only create/update orders for integrations that belong to your account\n\n## Best practices\n\n- Ensure all required fields are present before sending the request\n- Handle errors gracefully and implement retry logic for transient failures"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/SendcloudPartnerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/order"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Sendcloud's internal ID for the order.\n\n- In **responses**: Returned as an integer (e.g., `669`)\n- In **requests**: Optional field for explicitly updating a specific order. Must be provided as a string (e.g., `\"669\"`)\n- If omitted in requests, the upsert logic uses the combination of `order_id` + `integration.id` to match existing orders",
                          "type": "string",
                          "example": "669"
                        }
                      }
                    }
                  ]
                }
              },
              "examples": {
                "CreateBasicOrder": {
                  "summary": "Create a basic order with all required fields filled",
                  "description": "If you need create an order with only necessary info",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-12",
                      "order_details": {
                        "integration": {
                          "id": 7
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.556Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "quantity": 1,
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Lansdown Glade",
                        "house_number": "15",
                        "postal_code": "5341XT",
                        "city": "Oss",
                        "country_code": "NL"
                      },
                      "shipping_details": {
                        "is_local_pickup": false,
                        "delivery_indicator": "DHL home delivery",
                        "measurement": {
                          "weight": {
                            "value": 3,
                            "unit": "kg"
                          }
                        }
                      }
                    }
                  ]
                },
                "CreateInternationalOrder": {
                  "summary": "Create an international order with customs information",
                  "description": "If an order going outside/inside EU it should contain information needed for customs -- type of shipment and number of commercial invoice",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-11",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Order has been fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-27T10:00:00.555Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "description": "Pebble green - 12x8 cm",
                            "hs_code": "010130",
                            "country_of_origin": "NL",
                            "measurement": {
                              "weight": {
                                "value": 1,
                                "unit": "kg"
                              }
                            },
                            "quantity": 2,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "mid_code": "US1234567",
                            "material_content": "100% Cotton",
                            "intended_use": "Personal use"
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 7,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Order has been paid"
                        },
                        "discount_granted": {
                          "value": "3.99",
                          "currency": "EUR"
                        },
                        "insurance_costs": {
                          "value": "9.99",
                          "currency": "EUR"
                        },
                        "freight_costs": {
                          "value": "5.99",
                          "currency": "EUR"
                        },
                        "other_costs": {
                          "value": "2.99",
                          "currency": "EUR"
                        }
                      },
                      "customs_details": {
                        "commercial_invoice_number": "0124-03102022",
                        "shipment_type": "commercial_goods",
                        "export_type": "commercial_b2c",
                        "tax_numbers": {
                          "sender": [
                            {
                              "name": "VAT",
                              "country_code": "NL",
                              "value": "NL987654321B02"
                            }
                          ],
                          "receiver": [
                            {
                              "name": "VAT",
                              "country_code": "DE",
                              "value": "DE123456789B03"
                            }
                          ],
                          "importer_of_record": [
                            {
                              "name": "VAT",
                              "country_code": "NL",
                              "value": "NL975318642B01"
                            }
                          ]
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Wilmington Drive",
                        "house_number": "15",
                        "postal_code": "19804",
                        "city": "Dawnbrook",
                        "country_code": "US",
                        "state_province_code": "DE",
                        "phone_number": "+18882804331"
                      }
                    }
                  ]
                },
                "CreateOrderProductImage": {
                  "summary": "Create an order that contains a product image URL",
                  "description": "Allows you to send an order to Sendcloud containing a product image URL which can then be used with returns, packing lists and tracking",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-11",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Order has been fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-27T10:00:00.555Z",
                        "order_items": [
                          {
                            "name": "Orange card",
                            "description": "Orange gift card with face",
                            "hs_code": "010130",
                            "country_of_origin": "NL",
                            "measurement": {
                              "weight": {
                                "value": 1,
                                "unit": "kg"
                              }
                            },
                            "quantity": 1,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "image_url": "https://i.ibb.co/6tLZ2Jz/orange.jpeg",
                            "product_id": "01544029",
                            "variant_id": "458934950"
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Order has been paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Vierlinghweg",
                        "house_number": "15",
                        "postal_code": "2661TW",
                        "city": "Breda",
                        "country_code": "NL",
                        "state_province_code": "NB",
                        "phone_number": "+31638426194"
                      },
                      "shipping_details": {
                        "delivery_indicator": "DHL home delivery",
                        "measurement": {
                          "weight": {
                            "value": 3,
                            "unit": "kg"
                          }
                        }
                      }
                    }
                  ]
                },
                "CreateSpecifiedMeasurementsOrder": {
                  "summary": "Create an order with specified measurements",
                  "description": "If you already know dimension or weight of orders, it could be specified in `shipping_details` part",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-11",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Order has been fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-27T10:00:00.555Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "description": "Pebble green - 12x8 cm",
                            "measurement": {
                              "weight": {
                                "value": 1,
                                "unit": "kg"
                              }
                            },
                            "quantity": 3,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 10.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Order has been paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Vierlinghweg",
                        "house_number": "15",
                        "postal_code": "2661TW",
                        "city": "Dordrecht",
                        "country_code": "NL",
                        "state_province_code": "NB",
                        "phone_number": "+31638426194"
                      },
                      "shipping_details": {
                        "delivery_indicator": "DHL home delivery",
                        "measurement": {
                          "dimension": {
                            "length": 0.15,
                            "width": 0.3,
                            "height": 0.3,
                            "unit": "m"
                          },
                          "weight": {
                            "value": 3,
                            "unit": "kg"
                          },
                          "volume": {
                            "value": 4,
                            "unit": "l"
                          }
                        }
                      }
                    }
                  ]
                },
                "CreateSpecifiedBillingOrder": {
                  "summary": "Create an order with specified billing and customer info",
                  "description": "If payer and recipient are different persons, you can specify both in the `billing_address` and `customer_details` fields",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-12",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-27T10:00:00.555Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "description": "Pebble green - 12x8 cm",
                            "measurement": {
                              "weight": {
                                "value": 1,
                                "unit": "kg"
                              }
                            },
                            "quantity": 1,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Tuindersweg",
                        "house_number": "15",
                        "postal_code": "5341AW",
                        "city": "Oss",
                        "country_code": "NL"
                      },
                      "billing_address": {
                        "name": "Jane Doe",
                        "address_line_1": "Vioolstraat",
                        "house_number": "118",
                        "postal_code": "5391TW",
                        "city": "Breda",
                        "country_code": "NL"
                      },
                      "customer_details": {
                        "name": "Jane Doe"
                      }
                    }
                  ]
                },
                "CreateServicePointOrder": {
                  "summary": "Create an order that will be delivered to a specific service point",
                  "description": "Instead of sending an order to the customers address you can send the order to a service point for the customer to pick it up from",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-12",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-27T10:00:00.555Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "description": "Pebble green - 12x8 cm",
                            "measurement": {
                              "weight": {
                                "value": 1,
                                "unit": "kg"
                              }
                            },
                            "quantity": 1,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "service_point_details": {
                        "id": "10875349",
                        "extra_data": {
                          "partner_name": "PostNL"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Lansdown Glade",
                        "house_number": "15",
                        "postal_code": "5341AB",
                        "city": "Oss",
                        "country_code": "NL",
                        "phone_number": "0612345678"
                      }
                    }
                  ]
                },
                "UpdateBatchOrders": {
                  "summary": "Update orders in batch",
                  "description": "If you want to update orders in batch, you can use this method by specifying `id` in the request data",
                  "value": [
                    {
                      "id": "669",
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-12",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-28T11:05:15.634Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "measurement": {
                              "weight": {
                                "value": 1.3,
                                "unit": "kg"
                              }
                            },
                            "quantity": 1,
                            "unit_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Lansdown Glade",
                        "house_number": "15",
                        "postal_code": "5341AB",
                        "city": "Oss",
                        "country_code": "NL",
                        "phone_number": "0612345678"
                      }
                    },
                    {
                      "id": "1337",
                      "order_id": "555414",
                      "order_number": "OXSDFGHTD-13",
                      "order_details": {
                        "integration": {
                          "id": 739283
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.555Z",
                        "order_updated_at": "2018-02-28T11:05:15.634Z",
                        "order_items": [
                          {
                            "name": "Squared Candle",
                            "measurement": {
                              "weight": {
                                "value": 0.8,
                                "unit": "kg"
                              }
                            },
                            "quantity": 3,
                            "unit_price": {
                              "value": 2,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 6,
                              "currency": "EUR"
                            }
                          },
                          {
                            "name": "Scented Candle",
                            "quantity": 2,
                            "unit_price": {
                              "value": 5.5,
                              "currency": "EUR"
                            },
                            "total_price": {
                              "value": 11,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 17,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Lansdown Glade",
                        "house_number": "15",
                        "postal_code": "5341AB",
                        "city": "Oss",
                        "country_code": "NL",
                        "phone_number": "0612345678"
                      }
                    }
                  ]
                },
                "CreateOrderShipWith": {
                  "summary": "Create a basic order with all required fields filled",
                  "description": "If you need create an order with only necessary info",
                  "value": [
                    {
                      "order_id": "555413",
                      "order_number": "OXSDFGHTD-12",
                      "order_details": {
                        "integration": {
                          "id": 7
                        },
                        "status": {
                          "code": "fulfilled",
                          "message": "Fulfilled"
                        },
                        "order_created_at": "2018-02-27T10:00:00.556Z",
                        "order_items": [
                          {
                            "name": "Cylinder candle",
                            "quantity": 1,
                            "total_price": {
                              "value": 3.5,
                              "currency": "EUR"
                            }
                          }
                        ]
                      },
                      "payment_details": {
                        "total_price": {
                          "value": 3.5,
                          "currency": "EUR"
                        },
                        "status": {
                          "code": "paid",
                          "message": "Paid"
                        }
                      },
                      "shipping_address": {
                        "name": "John Doe",
                        "address_line_1": "Lansdown Glade",
                        "house_number": "15",
                        "postal_code": "5341XT",
                        "city": "Oss",
                        "country_code": "NL"
                      },
                      "shipping_details": {
                        "is_local_pickup": false,
                        "delivery_indicator": "DHL home delivery",
                        "measurement": {
                          "weight": {
                            "value": 3,
                            "unit": "kg"
                          }
                        },
                        "ship_with": {
                          "type": "shipping_option_code",
                          "properties": {
                            "shipping_option_code": "postnl:standard",
                            "contract_id": 517
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Create/Update orders in batch response object.",
                        "properties": {
                          "id": {
                            "description": "Autogenerated Sendcloud's internal ID",
                            "type": "integer",
                            "example": 234543
                          },
                          "order_id": {
                            "type": "string",
                            "description": "External order ID assigned by shop system",
                            "example": "7bdd5bfd-76bc-4654-9d40-5d5d49f1cd6c"
                          },
                          "order_number": {
                            "type": "string",
                            "description": "Unique order number generated manually or by shop system",
                            "example": "101170081"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "SingleOrderCreation": {
                    "description": "Response contains the identifiable information for the customer to link the order in Sendcloud with the order in the shop system",
                    "value": {
                      "data": [
                        {
                          "id": 664,
                          "order_id": "555413",
                          "order_number": "OXSDFGHTD-12"
                        }
                      ]
                    }
                  },
                  "BatchOrderCreation": {
                    "description": "Response contains the identifiable information for the customer to link the order in Sendcloud with the order in the shop system",
                    "value": {
                      "data": [
                        {
                          "id": 669,
                          "order_id": "555413",
                          "order_number": "OXSDFGHTD-12"
                        },
                        {
                          "id": 1337,
                          "order_id": "555414",
                          "order_number": "OXSDFGHTD-13"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation errors or business rule violations.\n\n**Error Response Structure**\n\nAll errors use JSON Pointer notation in the `source.pointer` field to indicate the exact location of the problem:\n\n- `[N]` indicates which order in the batch array (0-indexed)\n- The path after shows the field hierarchy within that order\n- **Example**: `/data/attributes/[1]/order_details/integration` means the error is in the second order's integration field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errors"
                },
                "examples": {
                  "WrongPayloadFormatRequested": {
                    "summary": "Wrong payload format",
                    "description": "The request body is not in the expected array format",
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "non_field_errors",
                          "title": "Wrong format",
                          "detail": "Wrong request format, expected list of objects"
                        }
                      ]
                    }
                  },
                  "MissingRequiredField": {
                    "summary": "Missing required field",
                    "description": "An order in the batch is missing a required field. The array index [1] indicates the second order in the batch (0-indexed) has the error.",
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "invalid",
                          "detail": "Field required",
                          "source": {
                            "pointer": "/data/attributes/[1]/order_details/integration"
                          }
                        }
                      ]
                    }
                  },
                  "InvalidFieldValue": {
                    "summary": "Invalid field value",
                    "description": "An order has an invalid field value, such as a negative quantity or invalid enum value.",
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "invalid",
                          "detail": "Input should be greater than 0",
                          "source": {
                            "pointer": "/data/attributes/[0]/order_details/order_items/0/quantity"
                          }
                        }
                      ]
                    }
                  },
                  "DuplicateOrderProcessing": {
                    "summary": "Duplicate order being processed",
                    "description": "The batch contains an `order_id` that is currently being processed by another request. This triggers a transaction rollback - the entire batch is rejected and zero orders are created. Wait a moment and retry the entire batch.",
                    "value": {
                      "errors": [
                        {
                          "status": "400",
                          "code": "invalid",
                          "detail": "We are still processing a previous request. Please try again in a moment.",
                          "source": {
                            "pointer": "/data"
                          }
                        }
                      ]
                    }
                  },
                  "BatchSizeLimitExceeded": {
                    "summary": "Batch size limit exceeded",
                    "description": "The request contains more than 100 orders. The maximum batch size is 100 orders per request.",
                    "value": {
                      "errors": [
                        {
[...]
